---
import { projects } from "./data/projects";
import AstroProjects from "./ProjectGallery.astro";
---

<section class="projects--container" id="projects">
  <div class="container--section__title">
    <h2 class="section--title">{"< Projects />"}</h2>
  </div>

  <div class="container--cards__projects">
    {
      projects.map((el) => {
        return (
          <AstroProjects
            gallery={el.gallery}
            image={el.image}
            title={el.title}
            description={el.description}
            techs={el.techs}
            deploy={el.deploy}
            github={el.github}
            path={el.path}
          />
        );
      })
    }
  </div>
</section>

<style>
  .projects--container {
    position: relative;
  }
  .container--cards__projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    flex-wrap: wrap;
  }
</style>
