---
import SkillLogo from "./SkillLogo.astro";
import { techs } from "./data/techs.js";
---

<section class="section--skills" id="skills">
  <div class="container--section__title">
    <h2 class="section--title">{"< Skills />"}</h2>
  </div>

  <div class="skills">
    <div class="skills--container">
      <h2>Frontend</h2>
      <div class="logos">
        {
          techs.front.map((el) => {
            return <SkillLogo name={el.name} logo={el.img} />;
          })
        }
      </div>
    </div>

    <div class="skills--container">
      <h2>Backend</h2>
      <div class="logos">
        {
          techs.back.map((el) => {
            return <SkillLogo name={el.name} logo={el.img} />;
          })
        }
      </div>
    </div>

    <div class="skills--container">
      <h2>Tools</h2>
      <div class="logos">
        {
          techs.tools.map((el) => {
            return <SkillLogo name={el.name} logo={el.img} />;
          })
        }
      </div>
    </div>
  </div>
</section>

<style>
  .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .skills--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    width: 70vw;
    margin: 20px 0;
    border-radius: 10px;
  }

  .skills--container h2 {
    font-size: 32px;
    margin-top: 20px;
    border-bottom: 1px solid var(--main-color);
  }
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
</style>
